# Cognitive Computing 1 and 2 -- Python programming

**NOTE: Students, first read the pre-lecture notes to understand the 'what' and 'why' of this series of lectures. (LINK HERE).**

This document is a Jupyter Notebook. It is a combination of text, Python code, and Python code output.

In [74]:
print("Hello world!")

Hello world!

The homework will also be conducted in a Jupyter Notebook. (If you really get interested in programming, we can talk off-line about what tools and programming environments besides Jupyter Notebooks are good to learn and use.)

Many people are probably wary or intimidated by programming, but...

## At it's most basic level, programming is like using a calculator

All the arithmetic that you are used to is here:

In [76]:
( (9 + 10) * (3 + 4) ) /2

66.5

Remember in algebra how you defined variables and then wrote expressions with those variables? That's key to programming as well:

In [78]:
x = 9
y = 3
z = 2

a = x * y / z
print(a)

13.5

**This is really all programming is -- writing mathematical and math-like expressions, and letting a computer do the work of evaluating such expressions.** Like my pre-lecture notes say, programming will make more vivid concepts relevant to computation and cognition.

## Variables and types

**Variable names**. Variable names can contain alphanumeric characters `a-z`, `A-Z`, `0-`, and `_`, but cannot start with a number.

'Assign' a *value* to a *name* with `=`.

In [3]:
x = 2

Although not explicitly specified, all values have a type.

In [4]:
type(x)

int

In [1]:
type(2)

int

Note that the type is associated with the value, not the name.

In [5]:
x = 2.1
type(x)

float

If we try to use a variable that has not yet been defined we get a `NameError`.

**Trying to understand your error messages is key to understanding why your program isn't working as expected!!**

In [6]:
x + z

NameError: name 'z' is not defined

#### Printing

In [7]:
print(x)

2.1

In the notebook, if the last line in a cell doesn't have an assignment, it will be printed.

In [8]:
x

2.1

### Fundamental types

Here, we'll just think of 'types' as the kinds of things a programming language has. Different types afford different actions, or operations (which we'll cover in a minute). Python's fundamental types:

In [9]:
# integer
x = 1
type(x)

int

In [10]:
# floating-point
x = 1.0
type(x)

float

(In case it isn't clear `#` introduces a 'comment'. It's basically a way of telling the computer not to interpret that line as Python code. Instead, you (the programmer) write this or that to help explain the program.

A floating point number is not really *simply* a number with a decimal point, but it will suffice for now to think of them that way.

The next data type we are already familiar with from our logic lectures!

In [126]:
# boolean
x = True
y = False
type(x)

bool

In a little I'll show how Python can calculate truth-values for complex statements. Later, I'll show how we use `bool` instances for conditionals (e.g., `if x == True: print("x is True!")`)

In [82]:
# string
name = 'Russell Richie'
type(name)

str

#### Converting types (a.k.a. type casting)

What happens if we try to add the integer `1`, and the string `'1'`?

In [105]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Try to read that error message. Any guesses as to why that didn't work?

So we need to be able to convert between types.

In [13]:
x = '1'
type(x)

str

In [14]:
y = int(x)
type(y)

int

But this works:

In [106]:
1 + int('1')

2

### Operators and comparisons

I said before that different types have different operations available to them. We already saw a little bit how numerical types likes `int` and `float` have the usual arithmetic operations available to them, but to reiterate:

#### Mathematical operators

In [16]:
1 + 2

3

In [17]:
1 - 2

-1

In [18]:
3 * 4

12

In [19]:
3 / 4

0.75

In [20]:
## Integer division -- it throws away the remainder
10 // 3

3

In [22]:
# Modulus (remainder)
10 % 3

1

In [23]:
# Power, aka exponentiation
2**3

8

#### Logical operators

In [26]:
1 == 2

False

**NOTICE! WARNING! ATTENTION!**

`=` is different from `==`. `=` is for assigning a value to a variable! `==` is for computing equivalence between two values! Observe:

In [2]:
1 = 2

SyntaxError: can't assign to literal (<ipython-input-2-b922a9ca1612>, line 1)

In [27]:
1 != 2

True

In [28]:
1 > 2

False

In [29]:
1 >= 2

False

In [30]:
1 < 2

True

In [31]:
1 <= 2

True

And we have some of the statement logic connectives that you all are familiar with!

In [32]:
(1 != 2) and (2 > 1)

True

In [33]:
(1 == 2) or (1 != 2)

True

In [34]:
not (x == 2)

True

Hopefully this reminds you of statement logic! We could also just define atomic letters with truth-values and compute the truth-value of complex propositions like this:

In [79]:
A = True
B = False
C = False

(A or B) and not (C)

True

There are no logical operators/connectives for the conditional or biconditional in base Python, but do you really need them? Why or why not?

Above we covered data types like `bool`, `int`, `float`, and `str`. Sometimes, you want to put a whole bunch of instances of such types into a single container. Enter:

### Lists

They are exactly what they sound like! A list is an ordered sequence of any combination of data types.

Lists are defined by square brackets `[]`. Elements are separated by commas.

In [3]:
the_numbers = [4, 8, 15, 16, 23, 42]
type(the_numbers)

list

In [37]:
len(the_numbers)

6

Access values from lists using square brackets. This is called "indexing". Indexes start at 0 in Python.

In [38]:
the_numbers[0]

4

In [39]:
the_numbers[3]

16

If 0-based indexing seems weird, think of it like this:

![](https://newcircle.com/static/bookshelf/ruby_tutorial/array_indexing.png)

Rest assured, this does become more intuitive as you use it.

Use `:` to get a range of elements.

In [42]:
the_numbers[2:5]

[15, 16, 23]

In [43]:
the_numbers[:2]

[4, 8]

Indexing can be used to change values, too.

In [4]:
the_numbers[0] = 2
the_numbers

[2, 8, 15, 16, 23, 42]

**Note**: indexing works similarly for strings.

In [5]:
name[0]

NameError: name 'name' is not defined

In [49]:
name[:5]

'Henry Harri'

In [50]:
name[::2]

'HnyHrio'

The `range` function is useful for creating simple lists. Although it behaves like a list, it's technically not a list unless you convert it to one explicitly.

In [51]:
range(4)

range(0, 4)

In [52]:
list(range(4))

[0, 1, 2, 3]

Any type of data structure that makes sense to "iterate" over can be turned into a list. (More on the notion of 'iteration' in a minute.)

In [55]:
list(name)

['H', 'e', 'n', 'r', 'y', ' ', 'H', 'a', 'r', 'r', 'i', 's', 'o', 'n']

#### Operators on lists.

In [6]:
the_numbers + [1, 2]

[2, 8, 15, 16, 23, 42, 1, 2]

In [7]:
the_numbers * 2

[2, 8, 15, 16, 23, 42, 2, 8, 15, 16, 23, 42]

But notice that neither of these operations modified `the_numbers`!

In [8]:
the_numbers

[2, 8, 15, 16, 23, 42]

In [116]:
23 in the_numbers # like asking "(is) 23 in the_number"?

True

#### Modifying lists.

But there are certain operations to modify lists 'in place':

In [117]:
the_numbers.append(101)
the_numbers

[4, 8, 15, 16, 23, 42, 101]

In [118]:
the_numbers.extend([120, 142, 179])
the_numbers

[4, 8, 15, 16, 23, 42, 101, 120, 142, 179]

Those two operations are definitely very similar and easy to confuse. But observe:

In [9]:
the_numbers.append([1,2,3])
the_numbers

[2, 8, 15, 16, 23, 42, [1, 2, 3]]

In [10]:
the_numbers.extend([1,2,3])
the_numbers

[2, 8, 15, 16, 23, 42, [1, 2, 3], 1, 2, 3]

The key difference is that `append` simply takes its 'argument' and makes it the last element in `the_numbers`. `extend` takes the argument and adds each of *its* elements to the end of `the_numbers`.

#### Objects

Everything in Python is an object. **I'M NOT SURE THAT COVERING NOTION OF 'OBJECT' IS USEFUL RIGHT NOW??**

Objects have values and functions attached to them that are accessed with a `.` (dot). We already saw a couple instances of these functions with `.append` and `.extend`. Some more important ones:

In [87]:
name.endswith('ie')

True

In [88]:
the_numbers.index(23)

4

In [89]:
name.upper()

'RUSSELL RICHIE'

#### Functions

I've already referred to 'functions' without much explanation, when I showed, e.g.,  `.append()` and `len()`. The programming notion of 'function' more or less maps onto your everyday but also mathematical notions of 'function': functions *do* things, usually for some special purpose; functions map from inputs to outputs.

Commonly, functions are sequences of operations -- **hey, what technical term meaning 'sequence of operations' do we already know?** (We will explore this a bit more in the third cognitive computing lecture.)

...sequences of operations that are called with parentheses. All of the above (`.endswith()`, `.index()`, `.upper()`) are functions attached to objects (and thus technically called 'methods', but don't worry about that).

Python provides many 'built-in' and useful functions.

In [80]:
the_numbers

[4, 8, 15, 16, 23, 2, 101, 120, 142, 179]

In [63]:
sum(the_numbers)

610

In [64]:
min(the_numbers)

2

That notation -- `function_name(argument)` -- might remind you of how functions appeared in math classes, as in `f(x)`. Right?

We can define our own functions with the `def` keyword.

In [66]:
def is_even(x):
    return x % 2 == 0

is_even(10)

True

In [96]:
is_even_list = [is_even(1), is_even(3), is_even(10)]

is_even_list

[False, False, True]

In [69]:
def square_is_even(x): # this function tells you whether the square of x is even!
    return is_even(x ** 2)

square_is_even(3)

False

#### Sets

Sets are collections with no order and no duplicates. **PROBABLY CUT THIS???**

In [ ]:
some_letters = {'x', 'y', 'z', 'n'}
type(some_letters)

In [ ]:
some_letters

In [ ]:
set(name)

In [ ]:
some_letters - set(name)

#### Literals

Every time we make a new value by typing it in directly, this is called a "literal".

In the following cell, `y` is a literal but `n_items` is not.

In [ ]:
y = [10, 20, 'abc']
n_items = len(y)

### Control flow

In Python, whitespace -- spaces or tabs -- at the beginning of a line is significant. After some types of keywords, followed by a colon, a group of lines is indented with 4 spaces (in any good Python environment, pressing tab will give you 4 spaces). This is called a *block*. For example, when we defined functions above.

Control flow is how we tell Python which block of code to execute.

In [83]:
first_name = name.split()[0]
first_name

'Russell'

In [85]:
if first_name == 'Russell':
    print("That's a good name.")
else:
    print("That name's okay, I guess...")

That's a good name.

In [86]:
first_name = 'Garrett'

if first_name == 'Russell':
    print("That's a good name.")
else:
    print("That name's okay, I guess...")

That name's okay, I guess...

(If you are familiar with a language like C, you might notice that Python doesn't require brackets to indicate the sections of an "if...then...else...")

If you screw up the indentation, Python will let you know.

In [71]:
x = 1
    print(x)

IndentationError: unexpected indent (<ipython-input-71-af59435001f7>, line 2)

In [72]:
if x == 1:
print('yep')

IndentationError: expected an indented block (<ipython-input-72-52e1942c0958>, line 2)

#### Loops

Like conditionals, *loops* can also be used in blocks. You use a loop when you want to do something over and over.

In [122]:
for x in range(5):
    print(x)

0
1
2
3
4

In [119]:
for number in the_numbers:
    numb_digits = len(str(number))
    print("The number is", number, "which has", numb_digits, "digits")

The number is 4 which has 1 digits
The number is 8 which has 1 digits
The number is 15 which has 2 digits
The number is 16 which has 2 digits
The number is 23 which has 2 digits
The number is 42 which has 2 digits
The number is 101 which has 3 digits
The number is 120 which has 3 digits
The number is 142 which has 3 digits
The number is 179 which has 3 digits

Let's try combining a for loop and a conditional:

In [120]:
for number in the_numbers:
    numb_digits = len(str(number))
    if numb_digits in [1,3]:
        print("The number is", number, "which has", numb_digits, "digits")

The number is 4 which has 1 digits
The number is 8 which has 1 digits
The number is 101 which has 3 digits
The number is 120 which has 3 digits
The number is 142 which has 3 digits
The number is 179 which has 3 digits

## Optional exercises

For each exercise, there is a cell where you should try to fill in the function (delete the `...`). The following cell acts as a test, run it to see if your function is correct.

Write a function `distance` that takes two tuples, each containing two numbers `(x, y)`. Compute the distance between them using the formula

$$
d = \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2}
$$

As a hint I've imported the `sqrt` function from the `math` module.

In [ ]:
from math import sqrt

def distance(a, b):
    ...

In [ ]:
assert distance((0, 0), (0, 0)) == 0
assert distance((0, 0), (1.5, 0)) == 1.5
assert distance((0, 0), (1, 1)) == sqrt(2)

Define a function `max_of_three` that takes three numbers and returns the largest of them. Hint: use `if`/`else`.

In [ ]:
def max_of_three(a, b, c):
    ...

In [ ]:
assert max_of_three(1, 2, 3) == 3
assert max_of_three(3, 2, 1) == 3
assert max_of_three(1, -1, 1) == 1
assert max_of_three(100.25, 0, -1.5) == 100.25

Define a function `is_palindrome` that returns `True` for inputs that are the same backwards and forwards.

In [ ]:
def is_palindrome(word):
    ...

In [ ]:
assert is_palindrome('radar')
assert is_palindrome('x')
assert is_palindrome('xx')
assert is_palindrome('')
assert not is_palindrome('abc')

A *pangram* is a sentence that contains every letter of the English alphabet.
For example, *The quick brown fox jumps over the lazy dog.*
Write a function `is_pangram` that checks whether a sentence is a pangram or not.

In [ ]:
# This may be helpful.
from string import ascii_lowercase
ascii_lowercase

In [ ]:
def is_pangram(sentence):
    ...

In [ ]:
assert is_pangram('The quick brown fox jumps over the lazy dog.')
assert not is_pangram('The quick brown fox leaps over the lazy cat.')

Write a function `factorial` that computes the factorial of a number.
Factorial is the `!` operation. For example $4! = 4 \cdot 3 \cdot 2 \cdot 1 = 24$.

Include the special case that $0! = 1$.

In [ ]:
def factorial(x):
    ...

In [ ]:
assert factorial(0) == 1
assert factorial(1) == 1
assert factorial(2) == 2
assert factorial(3) == 6
assert factorial(4) == 24
assert factorial(5) == 120

Write a function `digits_are_even` that returns `True` if all the digits of a number are even.

You can call the function we already defined `is_even` inside your function.

In [ ]:
def digits_are_even(x):
    ...

In [ ]:
assert digits_are_even(22)
assert digits_are_even(2840)
assert not digits_are_even(24561)
assert not digits_are_even(52486)
assert digits_are_even(0)

Write a function `char_freq` that returns a dictionary containing the number of times each character appears.

Note that this already exists in Python, as `collections.Counter`, but see if you can recreate it.

In [ ]:
def char_freq(sentence):
    ...

In [ ]:
from collections import Counter

sentence = 'The quick brown fox jumps over the lazy dog.'.lower()
assert char_freq(sentence) == Counter(sentence)

sentence = 'aksjdhjsdbvjbfajsdhbajfgsodig'
assert char_freq(sentence) == Counter(sentence)